<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmn.bindexmall">
    <!-- ============================================ -->
    <!-- INTERNET PERMISSIONS - REQUIRED FOR API CALLS -->
    <!-- ============================================ -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application
        android:label="bindexmall"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <!-- ============================================ -->
            <!-- DEFAULT LAUNCHER INTENT -->
            <!-- ============================================ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- ============================================ -->
            <!-- DEEP LINKING - HTTPS URLs -->
            <!-- ============================================ -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- HTTPS scheme for bindexmall.com -->
                <data
                    android:scheme="https"
                    android:host="bindexmall.com"
                    android:pathPrefix="/product" />
            </intent-filter>
            
            <!-- ============================================ -->
            <!-- DEEP LINKING - HTTP URLs (fallback) -->
            <!-- ============================================ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- HTTP scheme for bindexmall.com -->
                <data
                    android:scheme="http"
                    android:host="bindexmall.com"
                    android:pathPrefix="/product" />
            </intent-filter>
            
            <!-- ============================================ -->
            <!-- DEEP LINKING - Custom App Scheme -->
            <!-- ============================================ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- Custom scheme: bindexmall://product?id=123 -->
                <data
                    android:scheme="bindexmall"
                    android:host="product" />
            </intent-filter>
            
            <!-- ============================================ -->
            <!-- DEEP LINKING - Support for /p/ short links -->
            <!-- ============================================ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data
                    android:scheme="https"
                    android:host="bindexmall.com"
                    android:pathPrefix="/p" />
            </intent-filter>
        </activity>
        
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- ============================================ -->
        <!-- NOTIFICATION RECEIVERS -->
        <!-- ============================================ -->
        <receiver 
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
        <receiver 
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />
        
        <!-- ============================================ -->
        <!-- FILE PROVIDER for Sharing Images -->
        <!-- ============================================ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    
    <!-- ============================================ -->
    <!-- QUERIES for URL Launcher (Share functionality) -->
    <!-- ============================================ -->
    <queries>
        <!-- Required to query activities that can process text -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        
        <!-- Share functionality - General -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
        
        <!-- WhatsApp -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        
        <!-- Facebook -->
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        
        <!-- Instagram -->
        <package android:name="com.instagram.android" />
        
        <!-- Twitter -->
        <package android:name="com.twitter.android" />
        
        <!-- Telegram -->
        <package android:name="org.telegram.messenger" />
        
        <!-- Web browsers -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>
</manifest>